[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
langchain = "*"
tiktoken = "*"
openai = "*"
langchain-openai = "*"
faiss-cpu = "*"
langchain-community = "*"
langchainhub = "*"
langchain-chroma = "*"
spacy = "*"
scikit-learn = "*"
bert-score = "*"
textstat = "*"
sentence-transformers = "*"

[dev-packages]
jupyter = "*"
seaborn = "*"

[requires]
python_version = "3.9"
