#python~=Python 3.10.11

# Raw documents transformation
python-docx~=0.8.11
pypdf2~=3.0.1

# spaCy
spacy~=3.6.0
# python -m spacy download en_core_web_sm

# ML
scikit-learn~=1.3.0
scipy~=1.11.1
langchain~=0.0.234
tiktoken~=0.4.0
